body {
  color: #22313F;
  background-color: #E4F1FE;
  font-size: 16px;
  font: 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}

p, td, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}

h1 {
  font-weight: bold;
}

a:hover {
  color: #4AA0D5;
}

#main-pic {
  text-align: center;
  padding-top: 10px;

}

#main-block {
  background-color: white;
  width: 960px;
  padding: 10px;
  border-radius: 10px;
  margin: 0px auto;
}

td {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #8DC6FF;
}

.secondary.pointing.menu .active.item {
  border-color: #41B3D3 !important;
  color: #41B3D3 !important;
}

.secondary.pointing.menu .active.item:hover {
  border-color: #61D2DC !important;
  color: #61D2DC !important;
}

.segment {
  padding: 15px 30px !important;
}

.normal-color {
  color: #41B3D3 !important;
}

.active-color {
  color: #61D2DC !important;
}

.main {
  padding-top: 52px;
}

#footer {
  margin-top: 10px;
  padding: 10px 0px;
  background-color: #22313F;
  width: 100%;
  position: absolute;
}

#footer p  {
  color: #E4F1FE;
  margin-bottom: 0px;
  text-align: center;
}