body {
  color: #444444;
  background-color: #E4E4E4;
  font-size: 16px;
}

.default-font, .item, p, td {
  font-family: 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}

td {
  font-size: 16px;
}

h1, h2 {
  color: #41B3D3;
  font-family: 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}

.secondary.pointing.menu .active.item {
  border-color: #41B3D3 !important;
  color: #41B3D3 !important;
}

.secondary.pointing.menu .active.item:hover {
  border-color: #61D2DC !important;
  color: #61D2DC !important;
}

.segment {
  padding: 15px 30px !important;
}

.normal-color {
  color: #41B3D3 !important;
}

.active-color {
  color: #61D2DC !important;
}

.main {
  padding-top: 52px;
}

#newsPage .item:hover {
  color: #61D2DC;
  background-color: #ECFFFB;
}

.ui.list.bulleted {
margin-left: 20px;
  margin-right: 20px;
}

#newsPage .item:first-child .wide {
  padding-top: 0px;
}

#newsPage .item .six.wide {
  text-align: right;
}