#animation-1 {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

#animation-1:hover {
    transform: rotate(7deg);
    width: 300px;
}

#animation-2 {
    text-align: center;
    font-size: 10px;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: animation-example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-name: animation-example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#animation-2:hover {
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari, Chrome */
}

#animation-3 {
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation: animation-example1 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
    animation: animation-example1 5s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation-example1 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes animation-example1 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation-example {
    0%   {background-color:red; left:10px; top:10px;}
    25%  {background-color:yellow; left:110px; top:10px;}
    50%  {background-color:blue; left:110px; top:110px;}
    75%  {background-color:green; left:10px; top:110px;}
    100% {background-color:red; left:10px; top:10px;}
}

/*Standard syntax */
@keyframes animation-example {
    0%   {background-color:red; left:10px; top:10px;}
    25%  {background-color:yellow; left:110px; top:10px;}
    50%  {background-color:blue; left:110px; top:110px;}
    75%  {background-color:green; left:10px; top:110px;}
    100% {background-color:red; left:10px; top:10px;}
}