extends ./head_enus.jade

block footer-css
  link(rel='stylesheet', href='./css/footer.css')
  link(rel='stylesheet', href='./css/animation.css')

block change
  a.active(href="./contact_zhtw.html") zh_tw/en_us
block content
  #main-block
    h1
      font(color='#41B3D3', face='Arial') Contact us
    hr
    ul
      li
        h4
          font(face='Arial') Fax: (04)22853869
      li
        h4
          font(face='Arial') Tel: (04)22840497、(04)22840498
      li
        h4
          font(face='Arial') Local: National Chung Hsing University College of Science Building
      li
        h4
          font(face='Arial') Address: 250, Kuo Kuang Road, Taichung 402, Taiwan, R.O.C.
  p#animation-3 我會變長變短

  include ./footer-enus.jade