extends ./head.jade

block change
  a.active(href="./download_from_enus.html") 中英切換
block content
  #main-block
    h1.rand 各式文件下載 表格下載
    hr.rand
    table.rand(width='50%')
      tr
        td(width='25%')
          a(href='./download_rule_zhtw.html')
            h4 修業規定
        td(width='25%')
          a(href='./download_list_zhtw.html')
            h4 畢業條件明細
        td(width='25%')
          a(href='./download_from_zhtw.html')
            h4 表格下載
    hr.rand
    h3.rand#dept-U 大學部
    hr.rand
    ul.rand
      li
        a(href='http://www.cs.nchu.edu.tw/form/84_vy2g.pdf', target='_blank') 大學部個別研究指導授課老師同意書
      li
        a(href='http://www.cs.nchu.edu.tw/form/87_aymh.pdf', target='_blank') 獎學金申請表
      li
        a(href='http://www.cs.nchu.edu.tw/form/201_7j20.pdf', target='_blank') 國立中興大學資訊科學與工程學系經費補助申請單
      li
        a(href='http://www.nchu.edu.tw/~regist/download/download/R-011.doc', target='_blank') R-11國立中興大學學生修習學程申請表
      li
        a(href='http://www.cs.nchu.edu.tw/form/255_60t0.pdf', target='_blank') 中興資工系資訊專題指導老師同意書99.12.14
      li
        a(href='http://www.cs.nchu.edu.tw/form/505_cpnz.doc', target='_blank') 中興大學資工系資訊專題競賽報告格式(102.4.17)
      li
        a(href='http://www.cs.nchu.edu.tw/form/506_6w96.doc', target='_blank') 中興大學資工系資訊專題壁報格式(102.4.17)
    h3.rand#dept-M 碩士班
    hr.rand
    ul.rand
      li
        a(href='http://www.cs.nchu.edu.tw/form/147_fdkz.pdf', target='_blank') 畢業學生之學經歷及論文發表概況表
      li
        a(href='http://www.cs.nchu.edu.tw/form/527_jklr.pdf', target='_blank') 國立中興大學個人身分證及局帳號資料表
      li
        a(href='http://www.nchu.edu.tw/~grade/download/R_11.doc', target='_blank') R-11國立中興大學學生修習學程申請表
      li
        a(href='http://www.nchu.edu.tw/~grade/download/R_012.doc', target='_blank') R-12國立中興大學『學程證明書』申請表
      li
        a(href='http://www.cs.nchu.edu.tw/form/503_nr1x.pdf', target='_blank') 學術研究報告基本倫理約定書
    h3.rand#dept-D 博士班
    hr.rand
    ul.rand
      li
        a(href='http://www.cs.nchu.edu.tw/form/194_tc5a.doc', target='_blank') 博士班資格考筆試申請表(計算機組織)
      li
        a(href='http://www.cs.nchu.edu.tw/form/527_jklr.pdf', target='_blank') 國立中興大學個人身分證及局帳號資料表
      li
        a(href='http://www.nchu.edu.tw/~regist/download/download/R-011.doc', target='_blank') R-11國立中興大學學生修習學程申請表
      li
        a(href='http://www.cs.nchu.edu.tw/form/501_8t45.pdf', target='_blank') 博士班資格考檢定申請書（以修課方式檢定）
      li
        a(href='http://www.cs.nchu.edu.tw/form/502_4yb8.pdf', target='_blank') 博士班資格考檢定申請書（以發表論文抵替方式檢定）

  include ./footer-zhtw.jade
  include ./js_script.jade