extends ./head.jade

block change
  a.active(href="./download_list_enus.html") 中英切換
block content
  #main-block
    h1.rand 各式文件下載 畢業條件明細
    hr.rand
    table.rand(width='50%')
      tr
        td(width='25%')
          a(href='./download_rule_zhtw.html')
            h4 修業規定
        td(width='25%')
          a(href='./download_list_zhtw.html')
            h4 畢業條件明細
        td(width='25%')
          a(href='./download_from_zhtw.html')
            h4 表格下載
    hr.rand
    h3.rand#dept-U 大學部
    hr.rand
    ul.rand
      li
        a(href='http://www.cs.nchu.edu.tw/form/196_jrfi.pdf', target='_blank') 99學年度大學部畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/248_g62s.pdf', target='_blank') 100學年度大學部畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/261_yb83.pdf', target='_blank') 101學年度大學部畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/507_8czw.doc', target='_blank') 102學年度大學部畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/511_xt4n.pdf', target='_blank') 103學年度大學部畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/544_u7w4.pdf', target='_blank') 104學年度大學部畢業條件明細表
    h3.rand#dept-M 碩士班
    hr.rand
    ul.rand
      li
        a(href='http://www.cs.nchu.edu.tw/form/230_lyzt.pdf', target='_blank') 99學年度碩士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/249_tsaf.pdf', target='_blank') 100學年度碩士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/257_0wku.pdf', target='_blank') 101學年度碩士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/508_ucqi.pdf', target='_blank') 102學年度碩士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/514_6vcn.pdf', target='_blank') 103學年度碩士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/545_robf.pdf', target='_blank') 104學年度碩士班畢業條件明細表
    h3.rand#dept-D 博士班
    hr.rand
    ul.rand
      li
        a(href='http://www.cs.nchu.edu.tw/form/238_ldyc.doc', target='_blank') 99學年度博士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/252_ogtg.pdf', target='_blank') 100學年度博士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/260_0nfx.pdf', target='_blank') 101學年度博士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/510_zdav.doc', target='_blank') 102學年度博士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/513_xkpo.pdf', target='_blank') 103學年度博士班畢業條件明細表
      li
        a(href='http://www.cs.nchu.edu.tw/form/546_xakd.pdf', target='_blank') 104學年度博士班畢業條件明細表

  include ./footer-zhtw.jade
  include ./js_script.jade