footer#footer
  p Department of Computer Science and Engineering
  p Tel 04-2284-0497、04-2284-0498 | Fax 04-2285-3869 | Address 250, Kuo Kuang Road, Taichung 402, Taiwan, R.O.C.
  p
    a(href='./sitemap_enus.html') Sitemap