extends ./head.jade

block change
  a.active(href="./introduce_prof_enus.html") 中英切換
block content
  #main-block
    h2.rand#professor 教授
    hr.rand
    table.rand(width='920', align='center')
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/1.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 林偉
          tr
            td
              p 英文名稱
            td
              p Woei Lin
          tr
            td
              p 學歷
            td
              p 1985年美國德州大學奧斯汀電機電腦博士
          tr
            td
              p 經歷
            td
              p 美國夏威夷大學電機系副教授
              p 美國賓州州立大學電機系助教授
          tr
            td
              p 專長領域
            td
              p Wireless Networks
              p Network Switching and Routing
              p System Performance Evaluation
              p Parallel/Distributed Systems
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 907
          tr
            td
              p 電子信箱
            td
              a(href='wlin@nchu.edu.tw') wlin@nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://syslab.cs.nchu.edu.tw/faculty.htm') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/2.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 曾怜玉
          tr
            td
              p 英文名稱
            td
              p Lin-Yu Tseng
          tr
            td
              p 學歷
            td
              p 國立清華大學資訊科學博士
          tr
            td
              p 經歷
            td
              p 交通部電信研究所助理研究員
              p 工研院電子研究所副研究員
              p 清華大學電機系講師
              p 國立中興大學應用數學研究所教授
          tr
            td
              p 專長領域
            td
              p Evolutionary Computation
              p Multimedia Systems & Applications
              p Bioinformatics
              p Pattern Recognition & Image Processing
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 809 or 704
          tr
            td
              p 電子信箱
            td
              a(href='lytseng@pu.edu.tw') lytseng@pu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://oblab.cs.nchu.edu.tw/OurBoss.htm') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/4.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 詹進科
          tr
            td
              p 英文名稱
            td
              p J.K. Jan
          tr
            td
              p 學歷
            td
              p 1986年美國馬里蘭大學計算機科學系研修
              p 1980年日本國立東京大學情報科學系碩士
              p 1974年輔仁大學物理學系學士
          tr
            td
              p 經歷
            td
              p 中興大學應用數學研究所教授
              p 中興大學計算機中心主任
              p 中興大學應用數學研究所副教授
              p 中興大學僑生暨外籍生輔導室主任
          tr
            td
              p 專長領域
            td
              p Information Security
              p Data Engineering
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 706
          tr
            td
              p 電子信箱
            td
              a(href='jkjan@cs.nchu.edu.tw') jkjan@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://securitylab.cs.nchu.edu.tw/') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/5.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 喻石生
          tr
            td
              p 英文名稱
            td
              p Shyr-Shen Yu
          tr
            td
              p 學歷
            td
              p 加拿大西安大略大學計算機科學博士
          tr
            td
              p 經歷
            td
              p 國立中興大學應用數學系教授
              p 嶺東商專講師
              p 彰化高中老師
          tr
            td
              p 專長領域
            td
              p Pattern Recognition
              p Biological & Medical Image Processing
              p Bioinformation
              p Data Mining
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 807
          tr
            td
              p 電子信箱
            td
              a(href='pyu@nchu.edu.tw') pyu@nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://miplab.cs.nchu.edu.tw/teacher.htm') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/6.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 王行健
          tr
            td
              p 英文名稱
            td
              p Sying-Jyan Wang
          tr
            td
              p 學歷
            td
              p 美國普林斯頓大學電機博士
          tr
            td
              p 經歷
            td
              p 美國AT&T貝爾實驗室研究員
          tr
            td
              p 專長領域
            td
              p VLSI Design
              p Digital System Testing
              p CAD
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 910
          tr
            td
              p 電子信箱
            td
              a(href='sjwang@cs.nchu.edu.tw') sjwang@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://vlsilab.cs.nchu.edu.tw/professor.html') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/7.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 洪國寶
          tr
            td
              p 英文名稱
            td
              p Gwo-Boa Horng
          tr
            td
              p 學歷
            td
              p 美國南加州大學電腦科學博士
              p 台灣大學電機學士
          tr
            td
              p 經歷
            td
              p 中國生產力中心
          tr
            td
              p 專長領域
            td
              p Cryptography
              p Artificial Intelligence
              p Information Security
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 912
          tr
            td
              p 電子信箱
            td
              a(href='gbhorng@cs.nchu.edu.tw') gbhorng@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://ailab.cs.nchu.edu.tw/g.b.horng.htm') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/10.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 廖宜恩
          tr
            td
              p 英文名稱
            td
              p I-En Liao
          tr
            td
              p 學歷
            td
              p 美國俄亥俄州立大學計算機科學博士
          tr
            td
              p 經歷
            td
              p 國立中興大學應用數學系副教授
          tr
            td
              p 專長領域
            td
              p XML Databases
              p Data Mining
              p Wireless Network
              p Cloud Computing and Big Data Analytics
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 705
          tr
            td
              p 電子信箱
            td
              a(href='ieliao@nchu.edu.tw') ieliao@nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://dmlab.cs.nchu.edu.tw/') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/11.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 高勝助
          tr
            td
              p 英文名稱
            td
              p Shang-Juh Kao
          tr
            td
              p 學歷
            td
              p 美國俄亥俄州立大學計算機科學博士
          tr
            td
              p 經歷
            td
              p 國立中興大學應用數學系副教授
              p 中華民國OSI通訊協定標準草案網路管理小組(NM)召集人
              p 中華民國OSI通訊協定標準草案網路管理小組(NM)成員
              p 俄亥俄州立大學計算機科學系研究助理
              p 俄亥俄州立大學數學系教學助理
              p 國立政治大學應用數學系助教
          tr
            td
              p 專長領域
            td
              p Computer Networks
              p Systems and Network Management
              p XML Data Processing
              p Cloud Computing
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 708
          tr
            td
              p 電子信箱
            td
              a(href='sjkao@cs.nchu.edu.tw') sjkao@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://snmlab.cs.nchu.edu.tw/professor.asp') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/12.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 賈坤芳
          tr
            td
              p 英文名稱
            td
              p Kuen Fang Jea
          tr
            td
              p 學歷
            td
              p 美國密西根大學資訊科學暨工程博士
          tr
            td
              p 經歷
            td
              p 美國Bellcore公司實驗室研究員
          tr
            td
              p 專長領域
            td
              p Cloud Computing
              p Data Mining
              p XML Technology
              p Database System
              p Big Data Analysis
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 906
          tr
            td
              p 電子信箱
            td
              a(href='kfjea@cs.nchu.edu.tw') kfjea@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://delab.cs.nchu.edu.tw/new_mainpage/index.html') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/13.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 王宗銘
          tr
            td
              p 英文名稱
            td
              p Chung-Ming Wang
          tr
            td
              p 學歷
            td
              p 英國里茲大學資訊工程暨科學博士
          tr
            td
              p 經歷
            td
              p 英國IBM 科學研究中心副研究員
          tr
            td
              p 專長領域
            td
              p Computer Graphics and Color Science
              p 3D Steganography and Watermarking
              p Virtual Reality 
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 915
          tr
            td
              p 電子信箱
            td
              a(href='cmwang@cs.nchu.edu.tw') cmwang@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://gmvr.cs.nchu.edu.tw/cmwang') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/15.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 黃德成
          tr
            td
              p 英文名稱
            td
              p Der-Chen Huang
          tr
            td
              p 學歷
            td
              p 國立中正大學資訊工程博士
          tr
            td
              p 經歷
            td
              p 中山科學研究院
              p 工研院電通所
              p 國立勤益技術學院電子工程系
              p 國立中興大學計資中心主任
          tr
            td
              p 專長領域
            td
              p VLSI Design and Testing
              p Digital Signal Processing
              p Network
              p Image Processing
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 920
          tr
            td
              p 電子信箱
            td
              a(href='huangdc@cs.nchu.edu.tw') huangdc@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://soc.cs.nchu.edu.tw/adviser.php') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/17.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 張延任
          tr
            td
              p 英文名稱
            td
              p Yen-Jen Chang
          tr
            td
              p 學歷
            td
              p 國立台灣大學資訊工程博士
          tr
            td
              p 經歷
            td
              p 國立中興大學資訊科學系助理教授
          tr
            td
              p 專長領域
            td
              p Low Power VLSI Design
              p Memory Circuit Design
              p Embedded System
              p Intelligent Robot System
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 918
          tr
            td
              p 電子信箱
            td
              a(href='ychang@cs.nchu.edu.tw') ychang@cs.nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://web.nchu.edu.tw/~ychang') 點此進入
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/20.jpg', width='175')
      td
        table(width='745', align='left')
          tr
            td
              p 教授名稱
            td
              p 王丕中
          tr
            td
              p 英文名稱
            td
              p Pi-Chung Wang
          tr
            td
              p 學歷
            td
              p 國立交通大學資訊工程博士
          tr
            td
              p 經歷
            td
              p 中華電信研究所助理研究員
          tr
            td
              p 專長領域
            td
              p High Speed Networks
              p Wireless Sensor Networks
              p Algorithms
          tr
            td
              p 聯絡電話
            td
              p (04)2284-0497 ext 710
          tr
            td
              p 電子信箱
            td
              a(href='pcwang@nchu.edu.tw') pcwang@nchu.edu.tw
          tr
            td
              p 個人網頁
            td
              a(target='_blank', href='http://nclab.cs.nchu.edu.tw/advisor.php') 點此進入
    h2 副教授
    hr.rand
    #associate_professor
      table.rand(width='920', align='center')
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/9.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 余明興
            tr
              td
                p 英文名稱
              td
                p Ming-Shing Yu
            tr
              td
                p 學歷
              td
                p 國立台灣大學資訊工程博士
            tr
              td
                p 經歷
              td
                p 國立中興大學應用數學系副教授
            tr
              td
                p 專長領域
              td
                p Speech Processing
                p Natural Language Processing
                p Native Language Processing
                p Taiwan Common Language
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 808
            tr
              td
                p 電子信箱
              td
                a(href='msyu@dragon.nchu.edu.tw') msyu@dragon.nchu.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://speechlab.cs.nchu.edu.tw/Member.php?NID=8') 點此進入
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/16.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 張軒彬
            tr
              td
                p 英文名稱
              td
                p Hsung Pin Chang
            tr
              td
                p 學歷
              td
                p 國立交通大學資訊科學博士
            tr
              td
                p 經歷
              td
                p 國立中興大學資訊科學系助理教授
                p 國立彰化師範大學電子系助理教授
                p 國立交通大學電子資訊研究中心博士後研究員
            tr
              td
                p 專長領域
              td
                p Operating Systems
                p  Embedded Systems
                p  Computer Networks
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 917
            tr
              td
                p 電子信箱
              td
                a(href='hpchang@cs.nchu.edu.tw') hpchang@cs.nchu.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://osnet.cs.nchu.edu.tw/hpchang.html') 點此進入
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/18.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 吳俊霖
            tr
              td
                p 英文名稱
              td
                p Jiunn-Lin Wu
            tr
              td
                p 學歷
              td
                p 國立成功大學電機工程博士
            tr
              td
                p 經歷
              td
                p 友立資訊資深主任工程師
            tr
              td
                p 專長領域
              td
                p Computational Photography
                p Image Processing
                p Pattern Recognition
                p Signal Processing
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 921
            tr
              td
                p 電子信箱
              td
                a(href='jlwu@nchu.edu.tw') jlwu@nchu.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://web.nchu.edu.tw/~jlwu/') 點此進入
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/28.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 曾學文
            tr
              td
                p 英文名稱
              td
                p Hsueh-Wen Tseng
            tr
              td
                p 學歷
              td
                p 國立台灣大學資訊工程博士
            tr
              td
                p 經歷
              td
                p 友勁科技專案副理; 工研院雲端中心工程師
            tr
              td
                p 專長領域
              td
                p Wireless Networks
                p Networks on Chip
                p Cloud Computing and Networking
                p Performance Evaluation
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 908
            tr
              td
                p 電子信箱
              td
                a(href='hwtseng@nchu.edu.tw') hwtseng@nchu.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://web.nchu.edu.tw/~hwtseng') 點此進入
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/7285378.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 黃春融
            tr
              td
                p 英文名稱
              td
                p Chun-Rong Huang 
            tr
              td
                p 學歷
              td
                p 國立成功大學電機工程博士
            tr
              td
                p 經歷
              td
                p 中央研究院資訊科學研究所博士後研究
            tr
              td
                p 專長領域
              td
                p Computer Vision
                p Multimedia Signal Processing
                p Medical Image Processing
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 805
            tr
              td
                p 電子信箱
              td
                a(href='crhuang@nchu.edu.tw') crhuang@nchu.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://www.cs.nchu.edu.tw/~crhuang') 點此進入
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/29099696.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 陳煥
            tr
              td
                p 英文名稱
              td
                p Huan Chen
            tr
              td
                p 學歷
              td
                p 美國南加州大學(USC)電機工程博士
                p 清華大學電機工程碩士
                p 學士
            tr
              td
                p 經歷
              td
                p 中正大學助理教授
                p 副教授
                p 中正大學學務處畢僑組組長
            tr
              td
                p 專長領域
              td
                p Wireless Sensor Networks (WSN)
                p Body Area Networks (BAN)
                p Network Optimization
                p Signal Processing
                p MG+4C Embedded Systems
                p Android and Cloud Services
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 810
            tr
              td
                p 電子信箱
              td
                a(href='huan@nchu.edu.tw') huan@nchu.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://awin.cs.nchu.edu.tw/welcome-to-awinlab/people/our-teacher/') 點此進入
    h2 助理教授
    hr.rand
    #assistant_professor
      table.rand(width='920', align='center')
        table
          td
            img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/66487072.jpg', width='175')
          td
            table(width='745', align='left')
              tr
                td
                  p 教授名稱
                td
                  p 范耀中
              tr
                td
                  p 英文名稱
                td
                  p Yao-Chung Fan
              tr
                td
                  p 學歷
                td
                  p 國立清華大學資訊工程博士
              tr
                td
                  p 經歷
                td
                  p 賓州州立大學訪問學者
              tr
                td
                  p 專長領域
                td
                  p Data Mining
                  p Data Management
                  p Green Computing
                  p Mobile  Application
              tr
                td
                  p 聯絡電話
                td
                  p (04)2284-0497 ext 605
              tr
                td
                  p 電子信箱
                td
                  a(href='yfan@nchu.edu.tw') yfan@nchu.edu.tw
              tr
                td
                  p 個人網頁
                td
                  a(target='_blank', href='http://web.nchu.edu.tw/~yfan/') 點此進入
    h2 特聘教授
    hr.rand
    #distinguished_professor
      table.rand(width='920', align='center')
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/3.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 黃博惠
            tr
              td
                p 英文名稱
              td
                p Po-Whei Huang
            tr
              td
                p 學歷
              td
                p 美國南美以美大學計算機科學博士
            tr
              td
                p 經歷
              td
                p 國立中興大學應用數學系暨研究所教授
                p 國立中興大學資訊科學研究所教授、所長
                p 國立虎尾科技大學副校長
                p 國立中興大學主任秘書
                p 國立中興大學理學院院長
            tr
              td
                p 專長領域
              td
                p Multimedia Database Design
                p Computer Vision and Inspection
                p Medical Image Analysis
            tr
              td
                p 聯絡電話
              td
                p (04)2284-0497 ext 812
            tr
              td
                p 電子信箱
              td
                a(href='powhei.huang@msa.hinet.net') powhei.huang@msa.hinet.net
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://imdb.cs.nchu.edu.tw/teacher.php') 點此進入
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/99661002.jpg', width='175')
        td
          table(width='745', align='left')
            tr
              td
                p 教授名稱
              td
                p 李德財
            tr
              td
                p 英文名稱
              td
                p Der-Tsai Lee
            tr
              td
                p 學歷
              td
                p 台大電機學士
                p 美國伊利諾大學香檳分校電腦科學碩士
                p 博士
            tr
              td
                p 經歷
              td
                p 西北大學電機電腦工程系教授
                p 美國國科會Program Director
                p 中央研究院院士
                p 中央研究院資訊所特聘研究員兼所長
                p 台灣大學資工系特聘研究講座教授
                p 交通大學資工系特聘研究講座教授
                p 台灣科技大學榮譽研究講座教授
            tr
              td
                p 專長領域
              td
                p Design and Analysis of Algorithms
                p Computational Geometry
                p Web based Computing
                p Software Security
                p  Algorithm Visualization
                p Bioinformatics
                p Digital Libraries
            tr
              td
                p 聯絡電話
              td
                p 886-2-2788-3799 #2209
            tr
              td
                p 電子信箱
              td
                a(href='dtleeat@iis.sinica.edu.tw') dtleeat@iis.sinica.edu.tw
            tr
              td
                p 個人網頁
              td
                a(target='_blank', href='http://www.iis.sinica.edu.tw/pages/dtlee/index_zh.html') 點此進入

  include ./footer-zhtw.jade
  include ./js_script.jade