extends ./head_enus.jade

block change
  a.active(href="./introduce_lab_zhtw.html") zh_tw/en_us
block content
  #main-block
    h2.rand Laboratory Introduce
    hr.rand
    table(width='920', align='center').rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/1.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Network and Switch Systems lab
          tr
            td
              p Professor
            td
              p 林偉
          tr
            td
              p Location
            td
              p 903 at the College of Science Building[分機 903]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://syslab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/2.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Optimization and Bioinformatics Lab
          tr
            td
              p Professor
            td
              p 曾怜玉
          tr
            td
              p Location
            td
              p 702C at the College of Science Building[分機 716]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://oblab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/3.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Image Processing and Multimedia Database Lab
          tr
            td
              p Professor
            td
              p 黃博惠
          tr
            td
              p Location
            td
              p 722 at the College of Science Building[分機 722]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://imdb.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/4.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Information Security Lab
          tr
            td
              p Professor
            td
              p 詹進科
          tr
            td
              p Location
            td
              p 720 at the College of Science Building[分機 720]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://securitylab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/5.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Medical Image Processing Lab
          tr
            td
              p Professor
            td
              p 喻石生
          tr
            td
              p Location
            td
              p 1022A at the College of Science Building[分機 622]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://miplab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/6.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p 電腦輔助設計實驗室 VLSI/CAD Lab
          tr
            td
              p Professor
            td
              p 王行健
          tr
            td
              p Location
            td
              p 922A at the College of Science Building[分機 922]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://vlsilab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/7.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Artificial Intelligence Lab
          tr
            td
              p Professor
            td
              p 洪國寶
          tr
            td
              p Location
            td
              p 922B at the College of Science Building[分機 924]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://ailab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/26.png', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Ubiquitous Data And Intelligent Computing Lab
          tr
            td
              p Professor
            td
              p 范耀中
          tr
            td
              p Location
            td
              p 1007 at the College of Science Building[分機 605]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://udiclab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/10.bmp', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Data Mining & Knowledge Engineering Lab
          tr
            td
              p Professor
            td
              p 廖宜恩
          tr
            td
              p Location
            td
              p 702B at the College of Science Building[分機 715]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://dmlab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/11.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Systems & Network Management Lab
          tr
            td
              p Professor
            td
              p 高勝助
          tr
            td
              p Location
            td
              p 702B at the College of Science Building[分機 715]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://snmlab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/12.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Data Engineering Laboratory
          tr
            td
              p Professor
            td
              p 賈坤芳
          tr
            td
              p Location
            td
              p 902 at the College of Science Building[分機 902]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://delab.cs.nchu.edu.tw/new_mainpage/index.html') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/13.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Graphics, Multimedia & Virtual Reality Lab
          tr
            td
              p Professor
            td
              p 王宗銘
          tr
            td
              p Location
            td
              p 904 at the College of Science Building[分機 904]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://gmvr.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/16.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Low-Power Computer Architecture Lab
          tr
            td
              p Professor
            td
              p 張延任
          tr
            td
              p Location
            td
              p 1003B at the College of Science Building[分機 601]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://lpca.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/17.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p System On Chip Lab
          tr
            td
              p Professor
            td
              p 黃德成
          tr
            td
              p Location
            td
              p 1004 at the College of Science Building[分機 625]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://soc.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/20.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Network Computing Laboratory
          tr
            td
              p Professor
            td
              p 王丕中
          tr
            td
              p Location
            td
              p 721 at the College of Science Building[分機 721]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://nclab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/9.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Speech & Language Lab
          tr
            td
              p Professor
            td
              p 余明興
          tr
            td
              p Location
            td
              p 723 at the College of Science Building[分機 723]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://speechlab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/59184360.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Computer Vision and Multimedia Lab
          tr
            td
              p Professor
            td
              p 黃春融
          tr
            td
              p Location
            td
              p 702C at the College of Science Building[分機 716]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://cvml.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/15.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p System & Network Lab
          tr
            td
              p Professor
            td
              p 張軒彬
          tr
            td
              p Location
            td
              p 1003A at the College of Science Building[分機 603]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://osnet.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/18.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Signal and Image Processing Lab
          tr
            td
              p Professor
            td
              p 吳俊霖
          tr
            td
              p Location
            td
              p 1022B at the College of Science Building[分機 623]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://siplab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/67903897.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Advanced Wireless Information Networks Laboratory
          tr
            td
              p Professor
            td
              p 陳煥
          tr
            td
              p Location
            td
              p 901A at the College of Science Building[分機 925]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://awin.cs.nchu.edu.tw') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/laboratory_logo/22.jpg', width='160')
      td
        table(width='750', align='left')
          tr
            td(width='15%')
              p Name
            td
              p Wireless Communication & Cloud Computing Lab
          tr
            td
              p Professor
            td
              p 曾學文
          tr
            td
              p Location
            td
              p 901B at the College of Science Building[分機 901]
          tr
            td
              p Web Site
            td
              a(target='_blank', href='http://wccclab.cs.nchu.edu.tw') Click here to enter


  include ./footer-enus.jade
  include ./js_script.jade