extends ./head_enus.jade

block change
  a.active(href="./introduce_dept_zhtw.html") zh_tw/en_us
block content
  #main-block
    h2 Overview
    hr
    p
      | The Department of Computer Science and Engineering at National Chung-Hsing University was founded in July, 1992. The department currently has eighteen faculty members, offering MS program, Ph. D program and undergraduate program of Computer Science. The department aims at
    ul
      li
        | pioneering basic research of computer science & engineering and becoming a major academic research center in the computer area.
      li
        | working closely with computer, electronic and mechanics industry for designing innovative products and promoting manufacturing technology of R.O.C.
    h2 Organization
    hr
    ol
      li
        | Faculties:Woei Lin, Professor. J.K. Jan, Professor. Shyr-Shen Yu, Professor. Sying-Jyan Wang, Professor. Gwo-Boa Horng, Professor. I-En Liao, Professor. Shang-Juh Kao, Professor. Kuen Fang Jea, Professor. Chung-Ming Wang, Professor. Der-Chen Huang, Professor. Yen-Jen Chang, Professor. Pi-Chung Wang, Professor. Der-Tsai Lee, Professor. Hsung Pin Chang, Professor. Jiunn-Lin Wu, Professor. Hsueh-Wen Tseng, Professor. Chun-Rong Huang , Professor. Huan Chen, Professor. Yao-Chung Fan, Professor.
      li
        | Laboratories:We have Network and Switch Systems lab, Optimization and Bioinformatics Lab, Image Processing and Multimedia Database Lab, Information Security Lab, Medical Image Processing Lab, VLSI/CAD Lab, Artificial Intelligence Lab, Ubiquitous Data And Intelligent Computing Lab, Data Mining & Knowledge Engineering Lab, Systems & Network Management Lab, Data Engineering Laboratory, Graphics, Multimedia & Virtual Reality Lab, Low-Power Computer Architecture Lab, System On Chip Lab, Network Computing Laboratory, Speech & Language Lab, Computer Vision and Multimedia Lab, System & Network Lab, Signal and Image Processing Lab, Advanced Wireless Information Networks Laboratory, Wireless Communication & Cloud Computing Lab, total laboratories.
    figure
      nav
        img(src='http://www.cs.nchu.edu.tw/v3x/image/intro2.jpg' style='box-shadow: 1px 1px 5px #888888;')
        img(src='http://www.cs.nchu.edu.tw/v3x/image/intro1.jpg' style='box-shadow: 1px 1px 5px #888888;')
        img(src='http://www.cs.nchu.edu.tw/v3x/image/intro4.jpg' style='box-shadow: 1px 1px 5px #888888;')
        img(src='http://www.cs.nchu.edu.tw/v3x/image/intro3.jpg' style='box-shadow: 1px 1px 5px #888888;')

  include ./footer-enus.jade