extends ./head_enus.jade

block change
  a.active(href="./introduce_prof_zhtw.html") zh_tw/en_us
block content
  #main-block
    h2.rand Professor
    hr.rand
    #professor.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/1.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Woei Lin
          tr
            td
              p Research Interests
            td
              p Wireless Networks
              p Network Switching and Routing
              p System Performance Evaluation
              p Parallel/Distributed Systems
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 907
          tr
            td
              p Email Address
            td
              a(href='wlin@nchu.edu.tw') wlin@nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://syslab.cs.nchu.edu.tw/faculty.htm') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/2.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Lin-Yu Tseng
          tr
            td
              p Research Interests
            td
              p Evolutionary Computation
              p Multimedia Systems & Applications
              p Bioinformatics
              p Pattern Recognition & Image Processing
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 809 or 704
          tr
            td
              p Email Address
            td
              a(href='lytseng@pu.edu.tw') lytseng@pu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://oblab.cs.nchu.edu.tw/OurBoss.htm') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/4.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p J.K. Jan
          tr
            td
              p Research Interests
            td
              p Information Security
              p Data Engineering
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 706
          tr
            td
              p Email Address
            td
              a(href='jkjan@cs.nchu.edu.tw') jkjan@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://securitylab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/5.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Shyr-Shen Yu
          tr
            td
              p Research Interests
            td
              p Pattern Recognition
              p Biological & Medical Image Processing
              p Bioinformation
              p Data Mining
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 807
          tr
            td
              p Email Address
            td
              a(href='pyu@nchu.edu.tw') pyu@nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://miplab.cs.nchu.edu.tw/teacher.htm') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/6.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Sying-Jyan Wang
          tr
            td
              p Research Interests
            td
              p VLSI Design
              p Digital System Testing
              p CAD
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 910
          tr
            td
              p Email Address
            td
              a(href='sjwang@cs.nchu.edu.tw') sjwang@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://vlsilab.cs.nchu.edu.tw/professor.html') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/7.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Gwo-Boa Horng
          tr
            td
              p Research Interests
            td
              p Cryptography
              p Artificial Intelligence
              p Information Security
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 912
          tr
            td
              p Email Address
            td
              a(href='gbhorng@cs.nchu.edu.tw') gbhorng@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://ailab.cs.nchu.edu.tw/g.b.horng.htm') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/10.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p I-En Liao
          tr
            td
              p Research Interests
            td
              p XML Databases
              p Data Mining
              p Wireless Network
              p Cloud Computing and Big Data Analytics
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 705
          tr
            td
              p Email Address
            td
              a(href='ieliao@nchu.edu.tw') ieliao@nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://dmlab.cs.nchu.edu.tw/') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/11.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Shang-Juh Kao
          tr
            td
              p Research Interests
            td
              p Computer Networks
              p Systems and Network Management
              p XML Data Processing
              p Cloud Computing
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 708
          tr
            td
              p Email Address
            td
              a(href='sjkao@cs.nchu.edu.tw') sjkao@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://snmlab.cs.nchu.edu.tw/professor.asp') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/12.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Kuen Fang Jea
          tr
            td
              p Research Interests
            td
              p Cloud Computing
              p Data Mining
              p XML Technology
              p Database System
              p Big Data Analysis
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 906
          tr
            td
              p Email Address
            td
              a(href='kfjea@cs.nchu.edu.tw') kfjea@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://delab.cs.nchu.edu.tw/new_mainpage/index.html') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/13.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Chung-Ming Wang
          tr
            td
              p Research Interests
            td
              p Computer Graphics and Color Science
              p 3D Steganography and Watermarking
              p Virtual Reality 
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 915
          tr
            td
              p Email Address
            td
              a(href='cmwang@cs.nchu.edu.tw') cmwang@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://gmvr.cs.nchu.edu.tw/cmwang') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/15.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Der-Chen Huang
          tr
            td
              p Research Interests
            td
              p VLSI Design and Testing
              p Digital Signal Processing
              p Network
              p Image Processing
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 920
          tr
            td
              p Email Address
            td
              a(href='huangdc@cs.nchu.edu.tw') huangdc@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://soc.cs.nchu.edu.tw/adviser.php') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/17.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Yen-Jen Chang
          tr
            td
              p Research Interests
            td
              p Low Power VLSI Design
              p Memory Circuit Design
              p Embedded System
              p Intelligent Robot System
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 918
          tr
            td
              p Email Address
            td
              a(href='ychang@cs.nchu.edu.tw') ychang@cs.nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://web.nchu.edu.tw/~ychang') Click here to enter
    hr.rand
    table.rand
      td
        img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/20.jpg', width='175', height='227.484')
      td
        table(width='745', align='left')
          tr
            td
              p Name
            td
              p Pi-Chung Wang
          tr
            td
              p Research Interests
            td
              p High Speed Networks
              p Wireless Sensor Networks
              p Algorithms
          tr
            td
              p Phone Number
            td
              p (04)2284-0497 ext 710
          tr
            td
              p Email Address
            td
              a(href='pcwang@nchu.edu.tw') pcwang@nchu.edu.tw
          tr
            td
              p Home Page
            td
              a(target='_blank', href='http://nclab.cs.nchu.edu.tw/advisor.php') Click here to enter
    h2
      font(color='#41B3D3', face='Arial') Associate Professor
    hr.rand
    #associate_professor.rand
      table(width='920', align='center')
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/9.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Ming-Shing Yu
            tr
              td
                p Research Interests
              td
                p Speech Processing
                p Natural Language Processing
                p Native Language Processing
                p Taiwan Common Language
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 808
            tr
              td
                p Email Address
              td
                a(href='msyu@dragon.nchu.edu.tw') msyu@dragon.nchu.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://speechlab.cs.nchu.edu.tw/Member.php?NID=8') Click here to enter
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/16.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Hsung Pin Chang
            tr
              td
                p Research Interests
              td
                p Operating Systems
                p  Embedded Systems
                p  Computer Networks
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 917
            tr
              td
                p Email Address
              td
                a(href='hpchang@cs.nchu.edu.tw') hpchang@cs.nchu.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://osnet.cs.nchu.edu.tw/hpchang.html') Click here to enter
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/18.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Jiunn-Lin Wu
            tr
              td
                p Research Interests
              td
                p Computational Photography
                p Image Processing
                p Pattern Recognition
                p Signal Processing
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 921
            tr
              td
                p Email Address
              td
                a(href='jlwu@nchu.edu.tw') jlwu@nchu.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://web.nchu.edu.tw/~jlwu/') Click here to enter
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/28.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Hsueh-Wen Tseng
            tr
              td
                p Research Interests
              td
                p Wireless Networks
                p Networks on Chip
                p Cloud Computing and Networking
                p Performance Evaluation
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 908
            tr
              td
                p Email Address
              td
                a(href='hwtseng@nchu.edu.tw') hwtseng@nchu.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://web.nchu.edu.tw/~hwtseng') Click here to enter
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/7285378.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Chun-Rong Huang 
            tr
              td
                p Research Interests
              td
                p Computer Vision
                p Multimedia Signal Processing
                p Medical Image Processing
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 805
            tr
              td
                p Email Address
              td
                a(href='crhuang@nchu.edu.tw') crhuang@nchu.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://www.cs.nchu.edu.tw/~crhuang') Click here to enter
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/29099696.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Huan Chen
            tr
              td
                p Research Interests
              td
                p Wireless Sensor Networks (WSN)
                p Body Area Networks (BAN)
                p  Network Optimization
                p Signal Processing
                p  MG+4C Embedded Systems
                p Android and Cloud Services
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 810
            tr
              td
                p Email Address
              td
                a(href='huan@nchu.edu.tw') huan@nchu.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://awin.cs.nchu.edu.tw/welcome-to-awinlab/people/our-teacher/') Click here to enter
    h2
      font(color='#41B3D3', face='Arial') Assistant Professor
    hr.rand
    #assistant_professor.rand
      table(width='920', align='center')
        table
          td
            img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/66487072.jpg', width='175', height='227.484')
          td
            table(width='745', align='left')
              tr
                td
                  p
                    font(face='Arial') Name
                td
                  p
                    font(face='Arial') Yao-Chung Fan
              tr
                td
                  p
                    font(face='Arial') Research Interests
                td
                  p
                    font(face='Arial') Data Mining
                  p
                    font(face='Arial') Data Management
                  p
                    font(face='Arial') Green Computing
                  p
                    font(face='Arial') Mobile  Application
              tr
                td
                  p
                    font(face='Arial') Phone Number
                td
                  p
                    font(face='Arial') (04)2284-0497 ext 605
              tr
                td
                  p
                    font(face='Arial') Email Address
                td
                  a(href='yfan@nchu.edu.tw')
                    font(face='Arial') yfan@nchu.edu.tw
              tr
                td
                  p
                    font(face='Arial') Home Page
                td
                  a(target='_blank', href='http://web.nchu.edu.tw/~yfan/')
                    font(face='Arial') Click here to enter
    h2
      font(color='#41B3D3', face='Arial') Distinguished Professor
    hr.rand
    #distinguished_professor.rand
      table(width='920', align='center')
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/3.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Po-Whei Huang
            tr
              td
                p Research Interests
              td
                p Multimedia Database Design
                p Computer Vision and Inspection
                p Medical Image Analysis
            tr
              td
                p Phone Number
              td
                p (04)2284-0497 ext 812
            tr
              td
                p Email Address
              td
                a(href='powhei.huang@msa.hinet.net') powhei.huang@msa.hinet.net
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://imdb.cs.nchu.edu.tw/teacher.php') Click here to enter
      hr.rand
      table.rand
        td
          img(src='http://portal.cs.nchu.edu.tw/v3x/faculty_photo/99661002.jpg', width='175', height='227.484')
        td
          table(width='745', align='left')
            tr
              td
                p Name
              td
                p Der-Tsai Lee
            tr
              td
                p Research Interests
              td
                p Design and Analysis of Algorithms
                p Computational Geometry
                p Web based Computing
                p Software Security
                p  Algorithm Visualization
                p Bioinformatics
                p Digital Libraries
            tr
              td
                p Phone Number
              td
                p 886-2-2788-3799 #2209
            tr
              td
                p Email Address
              td
                a(href='dtleeat@iis.sinica.edu.tw') dtleeat@iis.sinica.edu.tw
            tr
              td
                p Home Page
              td
                a(target='_blank', href='http://www.iis.sinica.edu.tw/pages/dtlee/index_zh.html') Click here to enter


  include ./footer-enus.jade
  include ./js_script.jade