extends ./head_enus.jade

block footer-css
  link(rel='stylesheet', href='./css/footer.css')
  link(rel='stylesheet', href='./css/sitemap.css')

block change
  a.active(href="./sitemap_zhtw.html") zh_tw/en_us
block content
  #main-block
    h1.rand(style="-webkit-text-stroke: inherit;-webkit-box-reflect：none") Sitemap
    p.rand
      a(href='./main_enus.html') Main page
    p.rand
      a(href='./introduce_dept_enus.html') Introduction
    p.rand
      a(href='./introduce_prof_enus.html') Faculty
    p.rand
      a(href='./introduce_lab_enus.html') Laboratory
    p.rand
      a(href='./student_enus.html') Curriculum
    details.rand
      summary
        a(href='./download_rule_enus.html') Download
      p
        a(href='./download_rule_enus.html') Official Regulations
      p
        a(href='./download_list_enus.html') Graduating Requirements
      p
        a(href='./download_from_enus.html') Form
    p.rand
      a(href='./content_enus.html') Contanct
    p.rand
      a(href='./msg_enus.html') Message

  include ./footer-enus.jade
  include ./js_script.jade