doctype html
html(lang="en")
  head
    include ./head.jade
  body
    include ./header.jade
        .ui.segment.fulid
          h1.default-font 聯絡本系
          .ui.divider
          table.ui.very.basic.table
            tbody
              tr
                td
                  i.fax.icon
                  | 傳真
                td (04)22853869
              tr
                td
                  i.phone.icon
                  | 電話
                td (04)22840497、(04)22840498
              tr
                td
                  i.marker.icon
                  | 位置
                td 國立中興大學理學大樓7-10樓
              tr
                td
                  i.map.icon
                  | 地址
                td
                  a(target="_blank" href="https://www.google.com.tw/maps/place/國立中興大學 理學院") 402台中市南區國光路250號資訊科學與工程學系
          #googleMap(style="height:450px;")
    
    include ./footer.jade
    include ./script.jade
    script(src="http://maps.googleapis.com/maps/api/js")
    script(src="./js/googleMap.js")