extends ./head.jade

block footer
  link(rel='stylesheet', href='./css/footer.css')

block content
  include ./header.jade
  #main-block
    h1 聯絡本系
    hr
    ul
      li
        h4 傳真：(04)22853869
      li
        h4 電話：(04)22840497、(04)22840498
      li
        h4 位置：國立中興大學理學大樓7-10樓
      li
        h4 地址：402台中市南區國光路250號資訊科學與工程學系

  include ./footer.jade