.ui.vertical.footer.segment
  .ui.container.center.aligned
    .ui.celled.horizontal.list
      .item
        i.icon.phone
        | 電話 04-2284-0497、04-2284-0498
      .item
        i.icon.fax
        | 傳真 04-2285-3869
      .item
        i.icon.marker
        | 地址 402台中市南區國光路250號資訊科學與工程學系 理學大樓