//
  4103056002 杜杰 第二次作業 4/8

doctype html
html
  head
    title NCHU CS
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='./css/nav.css')
    block footer-css
  body
    div(style="background-color: #22313F;")
      #nav-bar
        ul
          li
            a(href="./main_enus.html") Home
          li
            a(href="./introduce_dept_zhtw.html") Introduction
          li
            a(href="./introduce_prof_zhtw.html") Faculty
          li
            a(href="./introduce_lab_zhtw.html") Laboratory
          li
            a(href="./student_zhtw.html") Curriculum
          li
            a(href="./download_rule_zhtw.html") Download
          li
            a(href="./contact_zhtw.html") Contanct
          li
            a(href="./msg_zhtw.html") Message
          li(style="float: right;")
            block change

    #main-pic
      img(src="img/de1.jpg")
    block content