//
  4103056002 杜杰 第二次作業 4/8

doctype html
html
  head
    title 中興大學資工系
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='./css/nav.css')
    block footer-css
  body
    div(style="background-color: #22313F;")
      #nav-bar
        ul
          li
            a(href="./index.html") 首頁
          li
            a(href="./introduce_dept_zhtw.html") 系所簡介
          li
            a(href="./introduce_prof_zhtw.html") 教授簡介
          li
            a(href="./introduce_lab_zhtw.html") 實驗室簡介
          li
            a(href="./student_zhtw.html") 學生專區
          li
            a(href="./download_rule_zhtw.html") 檔案下載
          li
            a(href="./contact_zhtw.html") 聯絡資訊
          li
            a(href="./msg_zhtw.html") 訪客留言
          li(style="float: right;")
            block change

    #main-pic
      img(src="img/de1.jpg")
    block content