extends ./head_enus.jade

block change
  a.active(href="./student_zhtw.html") zh_tw/en_us
block content
  #main-block
    div
      h1 Curriculum
      hr
      table(width='50%')
        tr
          nav
            a(href='#dept-U') Bachelor degree
            a(href='#dept-M') Master's degree
            a(href='#dept-D') Academic degree
      h3#dept-U Bachelor degree
      hr
      div(align='center')
        img(src='../img/U1.jpg', width='750')
        img(src='../img/U2.jpg', width='750')
        img(src='../img/U3.jpg', width='750')
        img(src='../img/U4.jpg', width='750')
        img(src='../img/U5.jpg', width='750')
        img(src='../img/U6.jpg', width='750')
      h3#dept-M Master's degree
      hr
      div(align='center')
        img(src='../img/M1.jpg', width='750')
        img(src='../img/M2.jpg', width='750')
        img(src='../img/M3.jpg', width='750')
        img(src='../img/M4.jpg', width='750')
        img(src='../img/M5.jpg', width='750')
        img(src='../img/M6.jpg', width='750')
        img(src='../img/M7.jpg', width='750')
      h3#dept-D Academic degree
      hr
      div(align='center')
        img(src='../img/D1.jpg', width='750')
        img(src='../img/D2.jpg', width='750')
        img(src='../img/D3.jpg', width='750')

  include ./footer-enus.jade