extends ./head.jade

block footer-css
  link(rel='stylesheet', href='./css/footer.css')

block change
  a.active(href="./student_enus.html") 中英切換
block content
  div(align='left')
    h1 學生專區
    hr
    table(width='50%')
      tr
        nav
          a(href='#dept-U') 大學部
          a(href='#dept-M') 碩士班/在職
          a(href='#dept-D') 博士班
    h3#dept-U 大學部
    hr
    div(align='center')
      img(src='./img/U1.jpg', width='750')
      img(src='./img/U2.jpg', width='750')
      img(src='./img/U3.jpg', width='750')
      img(src='./img/U4.jpg', width='750')
      img(src='./img/U5.jpg', width='750')
      img(src='./img/U6.jpg', width='750')
    h3#dept-M 碩士班/在職
    hr
    div(align='center')
      img(src='./img/M1.jpg', width='750')
      img(src='./img/M2.jpg', width='750')
      img(src='./img/M3.jpg', width='750')
      img(src='./img/M4.jpg', width='750')
      img(src='./img/M5.jpg', width='750')
      img(src='./img/M6.jpg', width='750')
      img(src='./img/M7.jpg', width='750')
    h3#dept-D 博士班
    hr
    div(align='center')
      img(src='./img/D1.jpg', width='750')
      img(src='./img/D2.jpg', width='750')
      img(src='./img/D3.jpg', width='750')


  include ./footer-zhtw.jade