.ui.borderless.main.menu
	.ui.text.container
		a.item.header(href="#")
			img.ui.img.mini(src="img/logo.png")
		a.item(href="#") 系所介紹
		a.item(href="#") 學生專區
		a.item(href="#") 檔案下載
		a.item(href="#") 聯絡資訊
