//- .ui.vertical.sidebar.menu
//-   a.item(href="./index.html", style="padding: 0px")
//-     img.ui.tiny.image(src="img/logo.png")
//-   a.item(href="./department.html") 系所介紹
//-   a.item(href="./download.html") 檔案下載
//-   a.item(href="./contact.html") 聯絡資訊

.ui.fixed.borderless.menu.default-font#header
  .ui.container
    //- a.toc.item
    //-   i.sidebar.icon
    a.item(href="./index.html", style="padding: 0px")
      img.ui.tiny.image(src="img/logo.png")
    
    a.item(href="./department.html") 系所介紹
    .ui.dropdown.item
      | 學生專區
      .menu
        a.item(href="#") 大學部
        a.item(href="#") 碩班/在職專班
        a.item(href="#") 博士班
    .ui.dropdown.item
      | 檔案下載
      .menu
        a.item(href="#") 大學部
        a.item(href="#") 碩班/在職專班
        a.item(href="#") 博士班
        a.item(href="#") 教師
        a.item(href="#") 相關辦法
    a.item(href="./contact.html") 聯絡資訊
.main
    .ui.container
      img.ui.fluid.image(src="img/de1.jpg")