doctype html
html(lang="en")
  head
    include ./head.jade

  body
    include ./header.jade
        .ui.segment.fulid
          h1.default-font 新聞
          .ui.divider
    
    include ./footer.jade
    include ./script.jade
    