doctype html
html(lang="en")
  head
    include ./head.jade
    style
      include ./css/footer.css
      
  body
    include ./header.jade
        .ui.segment.fulid#newsPage
          h1.default-font 新聞
          .ui.divider
          .ui.list.bulleted
            .item
              a(href="")
                .ui.grid
                  .ten.wide.column
                    | 123
                  .six.wide.column
                    | 2016-03-07
            .item
              a(href="")
                .ui.grid
                  .ten.wide.column
                    | 123
                  .six.wide.column
                    | 2016-03-07
              
            .item
              a(href="")
                .ui.grid
                  .ten.wide.column
                    | 123
                  .six.wide.column
                    | 2016-03-07
              
            .item
              a(href="")
                .ui.grid
                  .ten.wide.column
                    | 123
                  .six.wide.column
                    | 2016-03-07
              
            .item
              a(href="")
                .ui.grid
                  .ten.wide.column
                    | 123
                  .six.wide.column
                    | 2016-03-07
              
    
    include ./footer.jade
    include ./script.jade
    